<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <!-- /input-group -->
            </li>
            <li>
                <a href="index.php"><i class="fa fa-eye fa-fw"></i> Pesquisa de produto</a>
            </li>
            </li>
            
            </li>             
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->